<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

здесь будет умный дом

<br>
<button id="buttonStart"> Button Start </button>
<br>
<button id="buttonStop"> Button Stop </button>
<br>

<button id="joystickStart"> JoyStick Start </button>
<br>
<button id="joystickStop"> JoyStick Stop </button>
<br>

<br>
<a href="/login">Войти</a>
<br>
<a href="/registration">Регистрация</a>

<ul id="messageArea">
</ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:src="@{/js/home.js}"></script>
</body>
</html>