<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
</header>
<main>
    <div class="main-card">
        <form method="POST" action="/login" th:object="${user}">
            <p class="heading">Логин:</p>
            <input name="username" th:field="${user.username}"
                   class="input-field" type="email" placeholder="Username" autofocus="true">

            <p class="heading">Пароль:</p>
            <input class="input-field" name="password" th:field="${user.password}"
                   type="password" placeholder="Password"> <br>
            <div align="center">
                <button class="submit">
                    <span class="enter">Войти</span>
                </button>
            </div>
        </form>
    </div>
</main>
<footer>
</footer>
</body>
</html>