<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
</header>
<main>
    <div class="main-card">
        <p class="heading">Логин:</p>
        <input class="input-field" type="email">

        <p class="heading">Пароль:</p>
        <input class="input-field" type="password"> <br>
        <div align="center">
            <button class="button">
                <span class="enter">Войти</span>
            </button>
        </div>
    </div>

</main>
<footer>
</footer>
</body>
</html>